@model WebApplication1.DATA.Category
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

@using (Html.BeginForm("Save",null,FormMethod.Post))
{
<div class="row">
    <h4 style="color:red">@ViewBag.ErrorMess</h4>
    <div class="col-4">
        @Html.LabelFor(x => x.IdCategory)
    </div>
    <div class="col-8">
        @Html.TextBoxFor(x => x.IdCategory, new { @class = "form-control", @readonly="readonly" })
    </div>
    <div class="col-4">
        @Html.LabelFor(x => x.NameCategory)
    </div>
    <div class="col-8">
        @Html.TextBoxFor(x => x.NameCategory, new { @class = "form-control" })
    </div>

</div>
<div class="row">
    <input type="submit" value="Lưu lại" class="btn btn-success" />
</div>
    
}

<form action="/Category/Save">

</form>